@import url("portfolio.html");
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	background:  #16384c;
	
	
}
.container
{
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
}
.container .card
{
	position: relative;
	width: 300px;
	max-width: 300px;
	height:300px;
	background: #fff;
	margin: 30px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: row;
	box-shadow: 0 5px 202px rgba(0,0,0,0.5);
	transform: 0.3s ease-in-out;
}
.container .card .content{
	position: absolute;
	bottom: 20px;
}
.container .card .imgBx
{
	position:relative;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
	z-index:999;
}
.container .card .imgBx img
{
	position: absolute;
	bottom: 0;
	width: 98%;
	max-width: 98%;
	border-radius: 4px;
	margin: 1%;
	
}
.container .card .content
{
	width: 90%;
	position: absolute;
	text-align: center;
	color: #111;
	bottom: 30px;
	left: 4%;
	z-index: 99;
	padding:1%;
	background-color: rgba(255,255,255,0.4);
}
.container .card:hover img
{
	visibility: visible;
	bottom: 65px;
	transition-delay: 0.3s;
}





